@model IEnumerable<MyShop.Core.ViewModels.BasketItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
           Line Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/ProductImages/@item.Image" class="img" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
           @String.Format("{0:c}", item.Price);
        </td>
        <td>
            @String.Format("{0:c}", item.Price*item.Quantity);
        </td>
        <td>
           <a href="@Url.Action("RemoveFromBasket","Basket",new { Id=item.Id})" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}
    <tr>
        <td colspan="4" style="text-align:right"><strong>Basket Total</strong></td>
        <td>@string.Format("{0:c}",( from p in Model select p.Price * p.Quantity).Sum())</td>
    </tr>

</table>
